@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&family=Rubik&display=swap');

.titleForm {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.formsText {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-custom-gradient {
    background: linear-gradient(to right, #4300c83f 5%, #0B060F 15%, #0B060F 85%, #4300c83f 95%);
}